.section_title{
	font:20px $bebas;
	color:#0d0d0d;
	border-bottom:1px solid #dadada;
	padding-bottom:10px;
	margin-bottom:30px;
}

section{
	margin-bottom:60px;
	@include clear;
}

footer.site_footer{
	color:#b7b7b7;
	.section_title{
		color:#fff;
		border:none;
	}
}