@charset "UTF-8";
/* line 5, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Bebas";
  src: url("fonts/bebas.eot");
  src: local("тШ║"), url("fonts/bebas.eot?#iefix") format("embedded-opentype"), url("fonts/bebas.woff") format("woff"), url("fonts/bebas.ttf") format("truetype"), url("fonts/bebas.svg#Bebas") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, scss/_layouts.scss */
.content {
  width: 670px;
  margin-right: 20px;
  float: left;
}

/* line 4, scss/_layouts.scss */
.sidebar {
  padding-top: 36px;
  width: 270px;
  float: left;
}

/* line 1, scss/_base.scss */
* {
  box-sizing: border-box;
}

/* line 4, scss/_base.scss */
html, body {
  height: 100%;
}

/* line 7, scss/_base.scss */
body {
  font: 13px/20px Arial, Verdana, sans-serif;
  background: #f1e9db;
}

/* line 12, scss/_base.scss */
div img {
  vertical-align: bottom;
}

/* line 16, scss/_base.scss */
a {
  text-decoration: none;
}

/* line 1, scss/_main.scss */
.topline {
  background: #f1e9db;
}
/* line 47, scss/modules/_mixins.scss */
.topline:after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
/* line 4, scss/_main.scss */
.topline .topline__in {
  width: 960px;
  margin: 0 auto;
}
/* line 47, scss/modules/_mixins.scss */
.topline .topline__in:after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
/* line 6, scss/_main.scss */
.topline .topline__in .topline__block {
  width: 270px;
  height: 34px;
  padding: 0 20px;
  float: right;
  border: 1px solid #f4d4a0;
  border-top: none;
}
/* line 10, scss/_main.scss */
.topline .topline__in .topline__block span {
  line-height: 34px;
}
/* line 16, scss/_main.scss */
.topline .topline__in .topline__block .topline__social {
  display: inline-block;
  float: right;
}
/* line 19, scss/_main.scss */
.topline .topline__in .topline__block .topline__social a {
  display: inline-block;
  margin: 8px 6px 0 0;
}
/* line 24, scss/_main.scss */
.topline .topline__in .topline__block .topline__social .fb {
  background: url('/img/topline-social-se236699a0a.png') 0 0;
  height: 16px;
  width: 16px;
}
/* line 24, scss/_main.scss */
.topline .topline__in .topline__block .topline__social .tw {
  background: url('/img/topline-social-se236699a0a.png') 0 -32px;
  height: 16px;
  width: 16px;
}
/* line 24, scss/_main.scss */
.topline .topline__in .topline__block .topline__social .rss {
  background: url('/img/topline-social-se236699a0a.png') 0 -16px;
  height: 16px;
  width: 16px;
}

/* line 33, scss/_main.scss */
.site_header {
  background: #f1e9db;
}
/* line 35, scss/_main.scss */
.site_header__in {
  width: 960px;
  margin: 0 auto;
  padding: 40px 0;
}
/* line 47, scss/modules/_mixins.scss */
.site_header__in:after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
/* line 38, scss/_main.scss */
.site_header__in .site_header__logo {
  float: left;
}
/* line 40, scss/_main.scss */
.site_header__in .site_header__logo .logo_big {
  color: #1d2024;
  font: 40px "Bebas", Arial, Verdana, sans-serif;
}
/* line 43, scss/_main.scss */
.site_header__in .site_header__logo .logo_big span {
  color: #d9042b;
}
/* line 47, scss/_main.scss */
.site_header__in .site_header__logo .small {
  color: #9b9b9f;
  font: 16px "Bebas", Arial, Verdana, sans-serif;
}
/* line 52, scss/_main.scss */
.site_header__in .site_header__banner {
  float: right;
  border: 1px solid #dadada;
}

/* line 59, scss/_main.scss */
.site_nav {
  background: url(img/site-nav.png) repeat-x;
}
/* line 61, scss/_main.scss */
.site_nav__in {
  width: 960px;
  margin: 0 auto;
  height: 60px;
}
/* line 47, scss/modules/_mixins.scss */
.site_nav__in:after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
/* line 64, scss/_main.scss */
.site_nav__in .hor_nav {
  display: inline-block;
  line-height: 60px;
}
/* line 67, scss/_main.scss */
.site_nav__in .hor_nav li {
  display: inline-block;
  position: relative;
}
/* line 70, scss/_main.scss */
.site_nav__in .hor_nav li a {
  text-decoration: none;
  font: 15px "Bebas", Arial, Verdana, sans-serif;
  color: #fff;
  margin-right: 40px;
}
/* line 75, scss/_main.scss */
.site_nav__in .hor_nav li a:hover + ul {
  display: block;
}
/* line 78, scss/_main.scss */
.site_nav__in .hor_nav li a:hover {
  color: #f4cb89;
}
/* line 82, scss/_main.scss */
.site_nav__in .hor_nav li ul {
  background: #1a1d21;
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  z-index: 100;
  width: 180px;
}
/* line 90, scss/_main.scss */
.site_nav__in .hor_nav li ul li {
  height: 100%;
  display: block;
  border-top: 1px solid #35373b;
}
/* line 94, scss/_main.scss */
.site_nav__in .hor_nav li ul li a {
  display: block;
  padding-left: 20px;
  line-height: 38px;
}

/* line 109, scss/_main.scss */
.slider {
  background: #f1e9db;
}
/* line 111, scss/_main.scss */
.slider__in {
  width: 960px;
  margin: 0 auto;
  padding-top: 60px;
}
/* line 47, scss/modules/_mixins.scss */
.slider__in:after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
/* line 114, scss/_main.scss */
.slider__in .slider_entry {
  width: 670px;
  margin-right: 20px;
  float: left;
  overflow: hidden;
  height: 340px;
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;
  /*
  .entry_photo {
      display: block;
      margin: -1px 0 0 -1px;
  }
  .entry_desc {
      height: 102px;
      background: rgba(12, 13, 15, 0.85);
      position: absolute;
      bottom: 0;
      color: white;
      padding: 19px 20px 17px 20px;
      line-height: 20px;
      .entry_title {
          font-size: 18px;
          padding-bottom: 10px;
      }
      .entry_text {
          font-size: 13px;
          .more {
              color: $lnk;
              font-weight: bold;
              text-decoration: none;
              &:hover {
                  color: $lnkh;
              }
          }
      }
  } */
}
/* line 66, scss/modules/_mixins.scss */
.slider__in .slider_entry .entry_photo {
  display: block;
  margin: -1px 0 0 -1px;
}
/* line 70, scss/modules/_mixins.scss */
.slider__in .slider_entry .entry_desc {
  width: inherit;
  height: 107px;
  background: rgba(12, 13, 15, 0.85);
  position: absolute;
  bottom: 0;
  color: white;
  padding: 19px 20px 16.5px 20px;
  line-height: 20px;
}
/* line 79, scss/modules/_mixins.scss */
.slider__in .slider_entry .entry_desc .entry_title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10.5px;
}
/* line 84, scss/modules/_mixins.scss */
.slider__in .slider_entry .entry_desc .entry_text {
  font-size: 13px;
  height: 40px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 95, scss/modules/_mixins.scss */
.slider__in .slider_entry .entry_desc .more {
  color: #d9042b;
  font-weight: bold;
  text-decoration: none;
}
/* line 99, scss/modules/_mixins.scss */
.slider__in .slider_entry .entry_desc .more:hover {
  color: #a70220;
}
/* line 152, scss/_main.scss */
.slider__in .slider_switsher {
  width: 270px;
  float: left;
}
/* line 154, scss/_main.scss */
.slider__in .slider_switsher a {
  text-decoration: none;
}
/* line 157, scss/_main.scss */
.slider__in .slider_switsher .encirc {
  display: block;
  height: 100%;
}
/* line 161, scss/_main.scss */
.slider__in .slider_switsher li {
  border: 1px solid #f0d5a9;
  padding: 9px 12px 9px 21px;
  height: 70px;
  margin-bottom: 20px;
  background: #faefdc;
}
/* line 167, scss/_main.scss */
.slider__in .slider_switsher li:last-child {
  margin-bottom: 0;
}
/* line 170, scss/_main.scss */
.slider__in .slider_switsher li.is-active {
  border-color: #ddad60;
  background: #f4cb89;
  position: relative;
}
/* line 174, scss/_main.scss */
.slider__in .slider_switsher li.is-active:before {
  content: '';
  border: 7px solid transparent;
  border-left: 13px solid transparent;
  border-right: 13px solid #ddad60;
  position: absolute;
  left: -27px;
  top: 27px;
}
/* line 183, scss/_main.scss */
.slider__in .slider_switsher li.is-active:after {
  content: '';
  border: 7px solid transparent;
  border-left: 12px solid transparent;
  border-right: 12px solid #f4cb89;
  position: absolute;
  left: -24px;
  top: 27px;
}
/* line 193, scss/_main.scss */
.slider__in .slider_switsher li img {
  float: left;
  border: 1px solid #4b4b4b;
  margin-right: 10px;
}
/* line 198, scss/_main.scss */
.slider__in .slider_switsher li .entry_title {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #303030;
}
/* line 206, scss/_main.scss */
.slider__in .slider_switsher li .entry_meta {
  font-size: 11px;
  color: #818181;
}
/* line 209, scss/_main.scss */
.slider__in .slider_switsher li .entry_meta .author_link {
  color: #d9042b;
  font-weight: bold;
}

/* line 219, scss/_main.scss */
.l {
  width: 960px;
  margin: 0 auto;
}
/* line 47, scss/modules/_mixins.scss */
.l:after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
/* line 224, scss/_main.scss */
.l .content .articles .articles_cards .card, .l .content .recent .articles_cards .card {
  margin-right: 20px;
  float: left;
  width: 210px;
}
/* line 228, scss/_main.scss */
.l .content .articles .articles_cards .card:last-child, .l .content .recent .articles_cards .card:last-child {
  margin-right: 0;
}
/* line 231, scss/_main.scss */
.l .content .articles .articles_cards .card .img, .l .content .recent .articles_cards .card .img {
  position: relative;
  border: 1px solid #cec4b4;
  width: 210px;
  height: 120px;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 238, scss/_main.scss */
.l .content .articles .articles_cards .card .img:after, .l .content .recent .articles_cards .card .img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 7px solid #e7e0d5;
}
/* line 247, scss/_main.scss */
.l .content .articles .articles_cards .card .img img, .l .content .recent .articles_cards .card .img img {
  top: -1px;
  left: -1px;
  position: absolute;
}
/* line 253, scss/_main.scss */
.l .content .articles .articles_cards .card .card_top, .l .content .recent .articles_cards .card .card_top {
  margin-bottom: 7px;
}
/* line 47, scss/modules/_mixins.scss */
.l .content .articles .articles_cards .card .card_top:after, .l .content .recent .articles_cards .card .card_top:after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
/* line 256, scss/_main.scss */
.l .content .articles .articles_cards .card .card_top .title, .l .content .recent .articles_cards .card .card_top .title {
  font: bold 14px/20px Arial, Verdana, sans-serif;
  width: 130px;
  float: left;
}
/* line 261, scss/_main.scss */
.l .content .articles .articles_cards .card .card_top .comments, .l .content .recent .articles_cards .card .card_top .comments {
  display: block;
  position: relative;
  float: right;
  font-size: 13px;
  color: #d9042b;
  padding: 5px 11px 0 0;
  cursor: pointer;
}
/* line 269, scss/_main.scss */
.l .content .articles .articles_cards .card .card_top .comments:hover, .l .content .recent .articles_cards .card .card_top .comments:hover {
  color: #a70220;
}
/* line 272, scss/_main.scss */
.l .content .articles .articles_cards .card .card_top .comments:after, .l .content .recent .articles_cards .card .card_top .comments:after {
  content: '';
  display: block;
  background: url(img/comment-border.png);
  width: 42px;
  height: 41px;
  position: absolute;
  top: 2px;
  right: 0px;
}
/* line 284, scss/_main.scss */
.l .content .articles .articles_cards .card .meta, .l .content .recent .articles_cards .card .meta {
  display: block;
  font-size: 11px;
  color: #818181;
  margin-bottom: 11px;
}
/* line 11, scss/modules/_mixins.scss */
.l .content .articles .articles_cards .card .meta .author_link, .l .content .recent .articles_cards .card .meta .author_link {
  text-decoration: none;
  color: #d9042b;
  font-weight: bold;
}
/* line 15, scss/modules/_mixins.scss */
.l .content .articles .articles_cards .card .meta .author_link:hover, .l .content .recent .articles_cards .card .meta .author_link:hover {
  color: #a70220;
}
/* line 288, scss/_main.scss */
.l .content .articles .articles_cards .card .more, .l .content .recent .articles_cards .card .more {
  font: 15px/20px "Bebas", Arial, Verdana, sans-serif;
  width: 90px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 27px;
  background: #d9042b;
  color: #fff;
  margin-top: 13px;
}
/* line 36, scss/modules/_mixins.scss */
.l .content .articles .articles_cards .card .more:hover, .l .content .recent .articles_cards .card .more:hover {
  background: #a70220;
}

/* line 299, scss/_main.scss */
.photos .photo__big {
  float: left;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  width: 270px;
}
/* line 108, scss/modules/_mixins.scss */
.photos .photo__big .entry_photo {
  display: block;
  margin: -1px 0 0 -1px;
}
/* line 112, scss/modules/_mixins.scss */
.photos .photo__big .entry_desc {
  width: inherit;
  height: 70px;
  background: rgba(12, 13, 15, 0.85);
  position: absolute;
  bottom: 0;
  color: white;
  padding: 16px 20px 15.5px 20px;
  line-height: 20px;
}
/* line 121, scss/modules/_mixins.scss */
.photos .photo__big .entry_desc .entry_title {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 2.5px;
}
/* line 122, scss/modules/_mixins.scss */
.photos .photo__big .entry_desc .entry_title a {
  color: #fff;
}
/* line 127, scss/modules/_mixins.scss */
.photos .photo__big .entry_desc .entry_text {
  font-size: 11px;
  height: 20px;
  float: left;
  white-space: nowrap;
  width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 138, scss/modules/_mixins.scss */
.photos .photo__big .entry_desc .more {
  color: #d9042b;
  font-weight: bold;
  text-decoration: none;
}
/* line 142, scss/modules/_mixins.scss */
.photos .photo__big .entry_desc .more:hover {
  color: #a70220;
}
/* line 306, scss/_main.scss */
.photos .photo__big .entry_desc {
  padding-left: 11px;
  padding-right: 11px;
}
/* line 311, scss/_main.scss */
.photos .photo__enties {
  float: left;
  width: 380px;
}
/* line 314, scss/_main.scss */
.photos .photo__enties .line {
  margin-bottom: 20px;
  height: 60px;
}
/* line 317, scss/_main.scss */
.photos .photo__enties .line a {
  display: block;
  float: left;
  margin-right: 20px;
}
/* line 321, scss/_main.scss */
.photos .photo__enties .line a:last-child {
  margin: 0;
}

/* line 330, scss/_main.scss */
.updates .switcher, .side_switcher .switcher {
  background: #f1e3cc;
  padding: 10px;
}
/* line 333, scss/_main.scss */
.updates .switcher .nav, .side_switcher .switcher .nav {
  padding: 0 15px;
}
/* line 335, scss/_main.scss */
.updates .switcher .nav li, .side_switcher .switcher .nav li {
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  font: 14px "Bebas", Arial, Verdana, sans-serif;
}
/* line 339, scss/_main.scss */
.updates .switcher .nav li:last-child, .side_switcher .switcher .nav li:last-child {
  margin-right: 0;
}
/* line 342, scss/_main.scss */
.updates .switcher .nav li.is_active, .side_switcher .switcher .nav li.is_active {
  background: #fff;
  border: 1px solid #dbbc8a;
  border-bottom: none;
  position: relative;
}
/* line 347, scss/_main.scss */
.updates .switcher .nav li.is_active a, .side_switcher .switcher .nav li.is_active a {
  color: #252525;
}
/* line 350, scss/_main.scss */
.updates .switcher .nav li.is_active:after, .side_switcher .switcher .nav li.is_active:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  background: white;
  height: 1px;
}
/* line 360, scss/_main.scss */
.updates .switcher .nav li a, .side_switcher .switcher .nav li a {
  padding: 0 11px;
  display: inline-block;
  line-height: 35px;
  color: #a67e3e;
}
/* line 366, scss/_main.scss */
.updates .switcher .nav li.popular, .side_switcher .switcher .nav li.popular {
  float: right;
}
/* line 368, scss/_main.scss */
.updates .switcher .nav li.popular a, .side_switcher .switcher .nav li.popular a {
  color: #d9042b;
}
/* line 374, scss/_main.scss */
.updates .switcher .switcher_card, .side_switcher .switcher .switcher_card {
  border: 1px solid #dbbc8a;
  background: #fff;
  padding: 20px;
}
/* line 378, scss/_main.scss */
.updates .switcher .switcher_card .title, .side_switcher .switcher .switcher_card .title {
  font-weight: bold;
}
/* line 381, scss/_main.scss */
.updates .switcher .switcher_card .meta, .side_switcher .switcher .switcher_card .meta {
  display: block;
  font-size: 11px;
  color: #818181;
}
/* line 11, scss/modules/_mixins.scss */
.updates .switcher .switcher_card .meta .author_link, .side_switcher .switcher .switcher_card .meta .author_link {
  text-decoration: none;
  color: #d9042b;
  font-weight: bold;
}
/* line 15, scss/modules/_mixins.scss */
.updates .switcher .switcher_card .meta .author_link:hover, .side_switcher .switcher .switcher_card .meta .author_link:hover {
  color: #a70220;
}
/* line 384, scss/_main.scss */
.updates .switcher .switcher_card .img, .side_switcher .switcher .switcher_card .img {
  float: left;
  padding: 15px 20px 0 0;
}
/* line 388, scss/_main.scss */
.updates .switcher .switcher_card .text, .side_switcher .switcher .switcher_card .text {
  font-size: 13px;
  padding: 15px 20px 0 0;
  height: 150px;
  width: 390px;
  float: left;
  overflow: hidden;
}
/* line 395, scss/_main.scss */
.updates .switcher .switcher_card .text p, .side_switcher .switcher .switcher_card .text p {
  text-align: justify;
  text-overflow: ellipsis;
}
/* line 400, scss/_main.scss */
.updates .switcher .switcher_card .btns, .side_switcher .switcher .switcher_card .btns {
  display: inline-block;
  line-height: 69px;
  position: relative;
  width: 100%;
}
/* line 405, scss/_main.scss */
.updates .switcher .switcher_card .btns .cat_more, .side_switcher .switcher .switcher_card .btns .cat_more {
  vertical-align: middle;
  font: 13px "Bebas", Arial, Verdana, sans-serif;
  color: #363636;
}
/* line 410, scss/_main.scss */
.updates .switcher .switcher_card .btns .more, .side_switcher .switcher .switcher_card .btns .more {
  float: right;
  margin-top: 22px;
  font: 15px/20px "Bebas", Arial, Verdana, sans-serif;
  width: 90px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 27px;
  background: #d9042b;
  color: #fff;
}
/* line 36, scss/modules/_mixins.scss */
.updates .switcher .switcher_card .btns .more:hover, .side_switcher .switcher .switcher_card .btns .more:hover {
  background: #a70220;
}

/* line 425, scss/_main.scss */
.recent_comments .comment {
  float: left;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  width: 325px;
}
/* line 431, scss/_main.scss */
.recent_comments .comment:last-child {
  margin-right: 0;
}
/* line 108, scss/modules/_mixins.scss */
.recent_comments .comment .entry_photo {
  display: block;
  margin: -1px 0 0 -1px;
}
/* line 112, scss/modules/_mixins.scss */
.recent_comments .comment .entry_desc {
  width: inherit;
  height: 70px;
  background: rgba(12, 13, 15, 0.85);
  position: absolute;
  bottom: 0;
  color: white;
  padding: 16px 20px 15.5px 20px;
  line-height: 20px;
}
/* line 121, scss/modules/_mixins.scss */
.recent_comments .comment .entry_desc .entry_title {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 2.5px;
}
/* line 122, scss/modules/_mixins.scss */
.recent_comments .comment .entry_desc .entry_title a {
  color: #fff;
}
/* line 127, scss/modules/_mixins.scss */
.recent_comments .comment .entry_desc .entry_text {
  font-size: 11px;
  height: 20px;
  float: left;
  white-space: nowrap;
  width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 138, scss/modules/_mixins.scss */
.recent_comments .comment .entry_desc .more {
  color: #d9042b;
  font-weight: bold;
  text-decoration: none;
}
/* line 142, scss/modules/_mixins.scss */
.recent_comments .comment .entry_desc .more:hover {
  color: #a70220;
}

/* line 440, scss/_main.scss */
.sidebar .side_banners .banner {
  float: left;
  margin-right: 20px;
}
/* line 443, scss/_main.scss */
.sidebar .side_banners .banner:last-child {
  margin-right: 0;
}
/* line 449, scss/_main.scss */
.sidebar .side_social .social_item {
  float: left;
  margin-right: 20px;
  width: 125px;
}
/* line 453, scss/_main.scss */
.sidebar .side_social .social_item .follow_num {
  font-weight: bold;
  vertical-align: top;
}
/* line 457, scss/_main.scss */
.sidebar .side_social .social_item:last-child {
  margin-right: 0;
}
/* line 460, scss/_main.scss */
.sidebar .side_social .social_item .ico {
  float: left;
  margin-right: 20px;
}
/* line 464, scss/_main.scss */
.sidebar .side_social .social_item .tw-b {
  display: block;
  background: url('/img/social-saa3b9a4dd1.png') 0 -96px;
  height: 32px;
  width: 32px;
}
/* line 468, scss/_main.scss */
.sidebar .side_social .social_item .rss-b {
  display: block;
  background: url('/img/social-saa3b9a4dd1.png') 0 -48px;
  height: 32px;
  width: 32px;
}

/* line 477, scss/_main.scss */
.side_search form {
  width: inherit;
}
/* line 479, scss/_main.scss */
.side_search form input {
  width: 270px;
  height: 40px;
  border: 1px solid #dadada;
  background-color: #fbfaf9;
  box-shadow: inset 0 0 10px #dadada;
  outline: none;
  padding: 0 20px;
  color: #363636;
  font-size: 13px;
}

/* line 495, scss/_main.scss */
.side_nav nav ul {
  list-style: none;
}
/* line 497, scss/_main.scss */
.side_nav nav ul li {
  background: #faefdc;
  position: relative;
  margin-bottom: 3px;
}
/* line 502, scss/_main.scss */
.side_nav nav ul li:after {
  content: '';
  border: 7px solid transparent;
  border-left: 7px solid #303030;
  position: absolute;
  top: 13px;
  right: 20px;
}
/* line 510, scss/_main.scss */
.side_nav nav ul li a {
  border: 1px solid #f0d5a9;
  color: #303030;
  display: inline-block;
  width: 270px;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
}
/* line 520, scss/_main.scss */
.side_nav nav ul li.is_active > a {
  font-weight: bold;
}
/* line 523, scss/_main.scss */
.side_nav nav ul li.is_active:after {
  content: '';
  border: 7px solid transparent;
  border-top: 7px solid #303030;
  position: absolute;
  top: 17px;
  right: 25px;
}
/* line 532, scss/_main.scss */
.side_nav nav ul li ul {
  margin-top: 3px;
}
/* line 534, scss/_main.scss */
.side_nav nav ul li ul li {
  background: white;
}
/* line 536, scss/_main.scss */
.side_nav nav ul li ul li:after {
  border: none;
}
/* line 542, scss/_main.scss */
.side_nav nav ul li ul .current:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 10px;
  background: #d9042b;
}
/* line 551, scss/_main.scss */
.side_nav nav ul li ul .current a {
  color: #d9042b;
  font-weight: bold;
  padding-left: 30px;
}

/* line 566, scss/_main.scss */
.side_switcher .switcher .nav {
  padding: 0;
}
/* line 568, scss/_main.scss */
.side_switcher .switcher .nav li {
  width: 82px;
  height: 49px;
  margin-right: 0;
}
/* line 572, scss/_main.scss */
.side_switcher .switcher .nav li a {
  padding: 5px 11px;
  line-height: 20px;
  text-align: left;
}
/* line 578, scss/_main.scss */
.side_switcher .switcher .nav li.is_active:after {
  height: 3px;
  bottom: -2px;
}
/* line 586, scss/_main.scss */
.side_switcher .switcher .switcher_card .card_entry {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0;
}
/* line 589, scss/_main.scss */
.side_switcher .switcher .switcher_card .card_entry .entry_photo {
  float: left;
  margin-right: 20px;
}
/* line 593, scss/_main.scss */
.side_switcher .switcher .switcher_card .card_entry .entry_title {
  font-weight: bold;
}
/* line 596, scss/_main.scss */
.side_switcher .switcher .switcher_card .card_entry .entry_meta {
  display: block;
  font-size: 11px;
  color: #818181;
}
/* line 11, scss/modules/_mixins.scss */
.side_switcher .switcher .switcher_card .card_entry .entry_meta .author_link {
  text-decoration: none;
  color: #d9042b;
  font-weight: bold;
}
/* line 15, scss/modules/_mixins.scss */
.side_switcher .switcher .switcher_card .card_entry .entry_meta .author_link:hover {
  color: #a70220;
}

/* line 605, scss/_main.scss */
.side_tweet a {
  color: #d9042b;
}
/* line 607, scss/_main.scss */
.side_tweet a:hover {
  color: #a70220;
}
/* line 611, scss/_main.scss */
.side_tweet .tweet_entry {
  border: 1px solid #dadada;
  background: white;
  padding: 15px 20px;
}
/* line 615, scss/_main.scss */
.side_tweet .tweet_entry a {
  font-weight: bold;
}
/* line 619, scss/_main.scss */
.side_tweet .twitter_link {
  font-size: 11px;
  padding-top: 5px;
  float: right;
}

/* line 626, scss/_main.scss */
footer.site_footer {
  background: url(img/footer-bg.png);
}
/* line 628, scss/_main.scss */
footer.site_footer .footer__in {
  padding-top: 58px;
  width: 960px;
  margin: 0 auto;
  border-top: 1px solid #400404;
  position: relative;
}
/* line 630, scss/_main.scss */
footer.site_footer .footer__in a {
  color: #d9042b;
}
/* line 632, scss/_main.scss */
footer.site_footer .footer__in a:hover {
  color: #a70220;
}
/* line 47, scss/modules/_mixins.scss */
footer.site_footer .footer__in:after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
/* line 639, scss/_main.scss */
footer.site_footer .footer__in:before {
  content: '';
  width: 100%;
  border-top: 1px solid #3d3f41;
  position: absolute;
  top: 0;
  display: block;
}
/* line 47, scss/modules/_mixins.scss */
footer.site_footer .footer__in .infoline:after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
/* line 649, scss/_main.scss */
footer.site_footer .footer__in .infoline > section {
  float: left;
  margin-right: 38px;
}
/* line 652, scss/_main.scss */
footer.site_footer .footer__in .infoline > section:last-child {
  margin-right: 0;
}
/* line 656, scss/_main.scss */
footer.site_footer .footer__in .infoline .footer_latest {
  width: 295px;
}
/* line 659, scss/_main.scss */
footer.site_footer .footer__in .infoline .footer_recent {
  width: 180px;
}
/* line 662, scss/_main.scss */
footer.site_footer .footer__in .infoline .footer_comments {
  width: 210px;
}
/* line 665, scss/_main.scss */
footer.site_footer .footer__in .infoline .footer_tags {
  width: 160px;
  text-align: justify;
}
/* line 668, scss/_main.scss */
footer.site_footer .footer__in .infoline .footer_tags a {
  display: inline-block;
  color: white;
  line-height: 28px;
  font-size: 13px;
}
/* line 673, scss/_main.scss */
footer.site_footer .footer__in .infoline .footer_tags a.is_popular {
  color: white;
  font-weight: bold;
  font-size: 15px;
}
/* line 681, scss/_main.scss */
footer.site_footer .footer__in .bottom_line {
  padding-top: 21px;
  border-top: 1px solid #33383d;
}
/* line 47, scss/modules/_mixins.scss */
footer.site_footer .footer__in .bottom_line:after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
/* line 684, scss/_main.scss */
footer.site_footer .footer__in .bottom_line .copy {
  width: 50%;
  float: left;
}
/* line 689, scss/_main.scss */
footer.site_footer .footer__in .bottom_line .bottom_social {
  position: relative;
  float: right;
}
/* line 692, scss/_main.scss */
footer.site_footer .footer__in .bottom_line .bottom_social a {
  display: block;
  float: left;
}
/* line 697, scss/_main.scss */
footer.site_footer .footer__in .bottom_line .bottom_social .del {
  background: url('/img/social-saa3b9a4dd1.png') 0 0;
  height: 16px;
  width: 16px;
}
/* line 697, scss/_main.scss */
footer.site_footer .footer__in .bottom_line .bottom_social .flkr {
  background: url('/img/social-saa3b9a4dd1.png') 0 -32px;
  height: 16px;
  width: 16px;
}
/* line 697, scss/_main.scss */
footer.site_footer .footer__in .bottom_line .bottom_social .fb {
  background: url('/img/social-saa3b9a4dd1.png') 0 -16px;
  height: 16px;
  width: 16px;
}
/* line 697, scss/_main.scss */
footer.site_footer .footer__in .bottom_line .bottom_social .tw {
  background: url('/img/social-saa3b9a4dd1.png') 0 -128px;
  height: 16px;
  width: 16px;
}
/* line 697, scss/_main.scss */
footer.site_footer .footer__in .bottom_line .bottom_social .stu {
  background: url('/img/social-saa3b9a4dd1.png') 0 -80px;
  height: 16px;
  width: 16px;
}

/* line 1, scss/_content.scss */
.section_title {
  font: 20px "Bebas", Arial, Verdana, sans-serif;
  color: #0d0d0d;
  border-bottom: 1px solid #dadada;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

/* line 9, scss/_content.scss */
section {
  margin-bottom: 60px;
}
/* line 47, scss/modules/_mixins.scss */
section:after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}

/* line 14, scss/_content.scss */
footer.site_footer {
  color: #b7b7b7;
}
/* line 16, scss/_content.scss */
footer.site_footer .section_title {
  color: #fff;
  border: none;
}
