@mixin in {
    width: 960px;
    margin: 0 auto;
    @include clear;
}

@mixin post-meta {
    display: block;
    font-size: 11px;
    color: #818181;
    .author_link {
        text-decoration: none;
        color: $lnk;
        font-weight: bold;
        &:hover {
            color: $lnkh;
        }
    }
}

@mixin gen-col {
    width: 670px;
    margin-right: 20px;
    float: left;
}

@mixin more-btn {
    font: 15px / 20px $bebas;
    width: 90px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 27px;
    background: $lnk;
    color: #fff;
    &:hover {
        background: $lnkh;
    }
}

@mixin sidebar {
    width: 270px;
    float: left;
}

@mixin clear {
    &:after {
        content: '.';
        visibility: hidden;
        height: 0;
        display: block;
        clear: both;
    }
}

@mixin spriter($dir, $sname, $dsp: "def") {
    background: sprite($dir, #{$sname});
    @include sprite-dimensions($dir, #{$sname});
    @if $dsp != "def" {
        display: $dsp;
    }
    @else {}
}

@mixin meta-img($desch:70px,$titlefs:14px,$desfs:11px,$overh:1,$textw:185px) {
    .entry_photo {
        display: block;
        margin: -1px 0 0 -1px;
    }
    .entry_desc {
        width: inherit;
        height: $desch;
        background: rgba(12, 13, 15, 0.85);
        position: absolute;
        bottom: 0;
        color: white;
        padding: (20-((20-$titlefs)/2)) 20px (20-((20-$desfs)/2)) 20px;
        line-height: 20px;
        .entry_title {
            font-size: $titlefs;
            font-weight: bold;
            padding-bottom: (15-(((20-$titlefs)/2)+((20-$desfs)/2)));
        }
        .entry_text {
            font-size: $desfs;
             height: $overh*20px;
             float:left;
             @if $overh==1{
                white-space: nowrap;
                width: $textw;
             }
             overflow: hidden;
             text-overflow: ellipsis;
        }
                    .more {
                color: $lnk;
                font-weight: bold;
                text-decoration: none;
                &:hover {
                    color: $lnkh;
                }
            }
    }
}